// _colors.scss

$background: #77a4bbff; // Air Superiority Blue
$secondary-background: #5a5a66ff; // Davy's Gray
$accent: #7dcd85ff; // Emerald
$secondary-accent: rgb(152, 215, 158); // Light Green

$primary-text: rgb(46, 47, 51); // Jet
$secondary-text: #ffffff; // White
$teriary-text: #5a5a66ff; // Davy's Gray

$link-color: #006dfc;
$button-hover: #0088ff;

// custom height 
$header-height: 4rem;
