// _colors.scss

$background: #77a4bbff; // Air Superiority Blue
$background-transparent: transparentize($background, $amount: .5);
$background-transparent-gradient: linear-gradient( #77a4bb00 , $background-transparent);
$secondary-background: #5a5a66ff; // Davy's Gray

$accent: #7dcd85ff; // Emerald
$accent-opaque: #7dcc8540; // Emerald
$secondary-accent: #98d79e; // Light Green

$primary-text: #111113; // Jet
$secondary-text: #ffffff; // White
$teriary-text: #5a5a66ff; // Davy's Gray

$link-color: #006dfc;
$button-hover: #0088ff;

// custom height 
$header-height: 4rem;

// path variables 
$svg-path: '../images/subtle-prism.svg' ;
// $particle-background-path: '../images/particle-background.png' ;
