// colors

$background: #77a4bbff; // Air Superiority Blue
$background-transparent: transparentize($background, $amount: .5);
$background-transparent-gradient: linear-gradient( #77a4bb22 , $background-transparent);
$secondary-background: #5a5a66ff; // Davy's Gray

$accent: #7dcd85ff; // Emerald
$accent-transparent-gradient: linear-gradient(  rgba(107, 198, 116, 0.727), #77a4bb26 );
$secondary-accent: #98d79e; // Light Green

$primary-text: #333333; // Dark Gray
$secondary-text: #ffffff; // White

$link-color: #006dfc;
$button-hover: #0088ff;

// custom height 
$header-height: 4rem;

// path variables 
$svg-path: '../images/subtle-prism.svg' ;
// $particle-background-path: '../images/particle-background.png' ;
