






.blog-articles {
    display: flex;
    flex-direction: column;
    
    .article-preview {
        max-height: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: .8rem;
        margin-bottom: 1rem;

        background-color: $background-transparent;
        border-radius: 15px;
        
        .post-preview-text {
            
            max-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            flex: 1;
            
            // align-items: center;
            // height: 100%;
            // flex-shrink: 0;
            a {
                text-decoration: none;

            }

            h4 {
                margin-bottom: 0;
                margin-top: 0;
                font-size: 1rem;
                color: $secondary-text;
            }
            
            p {
                margin-top: 1rem;
                margin-bottom: 0;
                margin-right: 1rem;
                font-size: .8rem;
                color: $primary-text;
            }
        }

        img {
          max-width: 28%;
          height: auto;
          object-fit: contain;
          border-radius: 15px;
        }
      }      
}







// ----------------------------------------------------------------------
// all below styles the aticle pages themselves
.blog-post-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .article-title {
        margin: 0;
        text-align: center;

        h1 {
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 0.5rem;

            color: $secondary-text;
        }
    }

    .article-content {
        width: 100%;
        flex-direction: column;
        background-image: $background-transparent-gradient;
        border-radius: 8px;
        padding: 0.5rem;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 0.5rem;
        }

        h2 {
            font-size: 1.4rem;
            margin: 0;
        }

        h5 {
            margin: 1rem;
        }

        h3 {
            font-size: rem;
            margin-bottom: 10px;
            text-align: left;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
            text-align: justify;
        }
    }

    // Styles for desktop view
    @media screen and (min-width: 768px) {
        
        .article-title {
            
            h1 {
                font-size: 2.5rem;
                margin-bottom: 0.5rem;
            }
        }

        .article-content {
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding: 1rem;

            .article-head {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 0.5rem;

                h2 {
                    font-size: 1.7rem;
                    margin: 0;
                    margin-left: 1rem;
                }

                h5 {
                    text-align: end;
                    margin: 0;
                    font-size: 1rem;
                }
            }
            
            img {
                max-width: 27%;
                margin-right: 1rem;
                margin-top: 1rem;
                margin-bottom: 0;
                float: left;
            }

            h3 {
                text-align: left;
            }

            p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 0;
                text-align: justify;
            }
        }
    }
}
