.blog-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-text;

    .blog-intro {
        color: $primary-text;
    }

    .blog-articles {
        display: flex;
        flex-direction: column;

        .article-preview {
            min-height: 110px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            margin-top: 1rem;
            margin-bottom: 1rem;

            background-color: $background-transparent;
            padding: 0.4rem;
            border: solid $background;
            border-radius: 15px;

            .post-preview-text {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-self: stretch;
                margin-left: 0.2rem;
                margin-right: 0.2rem;
            }
            p {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 0.75rem;
                color: $primary-text;
            }
            .ppt-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    margin-bottom: 0;
                    margin-top: 0;
                    font-size: 1.1rem;
                    color: $secondary-text;
                    display: inline;
                }
                .ppt-date {
                    font-size: 0.7rem;
                    margin-top: 0;
                    color: $secondary-text;
                }
            }

            img {
                width: 24%;
                height: auto;
                object-fit: contain;
                margin: 0.2rem;
            }
        }
    }
}

// blog homepage desktop view
@media screen and (min-width: 769px) {
    .blog-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $secondary-text;

        .blog-intro {
            max-width: 30%;
            color: $primary-text;
        }
        .blog-articles {
            max-width: 50%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
    
            margin-top: 1.5rem;
    
            .article-preview {
                max-width: 45%;
    
                .post-preview-text {
                    h4 {
                        font-size: 1.4rem;
                    }
                }
    
                img {
                    max-width: 30%;
                }
            }
        }
    }
}

// ----------------------------------------------------------------------
// all below styles the aticle pages themselves
.blog-post-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .article-title {
        margin: 0;
        text-align: center;

        h1 {
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 0.5rem;
            color: $secondary-text;
        }
    }

    .article-content {
        width: 100%;
        flex-direction: column;
        @include card-bg($background-transparent, 15px, $background-transparent-gradient);

        padding: 0.5rem;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 0.5rem;
        }

        h2 {
            font-size: 1.4rem;
            margin: 0;
        }

        h5 {
            margin: 1rem;
        }

        h3 {
            font-size: rem;
            margin-bottom: 10px;
            text-align: left;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
            text-align: justify;
        }
    }

    // Styles for desktop view
    @media screen and (min-width: 768px) {
        .article-title {
            h1 {
                font-size: 2.5rem;
                margin-bottom: 0.5rem;
            }
        }

        .article-content {
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding: 1rem;

            .article-head {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 0.5rem;

                h2 {
                    font-size: 1.7rem;
                    margin: 0;
                    margin-left: 1rem;
                }

                h5 {
                    text-align: end;
                    margin: 0;
                    font-size: 1rem;
                }
            }

            img {
                max-width: 27%;
                margin-right: 1rem;
                margin-top: 1rem;
                margin-bottom: 0;
                float: left;
            }

            h3 {
                text-align: left;
            }

            p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 0;
                text-align: justify;
            }
        }
    }
}
