.contact-main {
    background: url("#{$svg-path}") center center no-repeat;
    background-size: cover;
}

.contact-intro {
    text-align: center;
}

#send-button {
    // width: 30vw;
    font-weight: 600;
}
