.home-main {
    background: url("#{$svg-path}") center center no-repeat;
    background-size: cover;
}


.intro-hero {
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: $secondary-accent;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 4px $secondary-background;
    border: 2px solid $secondary-background;

}

.blog-section {
    text-align: center;
    background-color: $secondary-accent;
    border-radius: 15px;
    box-shadow: 0 2px 4px $secondary-background;
    border: 2px solid $secondary-background;
    padding: 1rem;
}