.home-main {
    padding-top: 0;
    justify-content: flex-start;
    .intro-hero {
        width: 100vw;

        text-align: center;
        background-image: $accent-transparent-gradient;
        border-bottom-left-radius: 170px;
        border-bottom-right-radius: 170px;
        padding-bottom: 5rem;

        h1 {
            margin-top: 0;
            padding-top: 20px;
            border-top: solid 2px $background;
        }

        p {
            padding: 2rem;
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            font-size: 0.85rem;
        }
    }

    .home-content {
        

        .my-skills {
            text-align: center;
            background-color: $background-transparent;
            border-radius: 15px;
            box-shadow: 0 2px 4px $secondary-background;
            border: 2px solid $secondary-background;
            padding: 1rem;
            margin-bottom: 1rem;

            .skills-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                p {
                    font-size: 1.5rem;
                    margin-bottom: 0.7rem;
                }
                i {
                    font-size: 2.5rem;
                }
                .fa-html5 {
                    color: #f16524;
                }
                .fa-square-js {
                    color: #f7e018;
                }
                .fa-css3 {
                    color: #2465f1;
                }
                .fa-sass {
                    color: #bf4080;
                    margin-left: 1rem;
                }
            }
        }
    }

    .blog-section {
        text-align: center;
        background-color: $background-transparent;
        border-radius: 15px;
        box-shadow: 0 2px 4px $secondary-background;
        border: 2px solid $secondary-background;
        padding: 1rem;
        margin-top: 1rem;

        .blog-list {
            text-align: left;

            ul {
                padding-left: 0rem;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1rem;

                    a {
                        font-size: 1.05rem;
                    }
                    p {
                        width: 100%;
                        text-align: right;
                        font-size: 0.8rem;
                        margin: 0rem;
                    }
                }
            }
        }
    }
}

// Desktop styles
//-----------------------------------------------
@media screen and (min-width: 769px) {
    .home-main {
        padding-top: 0;
        // flex-direction: row;
        justify-content: flex-start;

        .intro-hero {
            h1 {
            }

            p {
            }
        }
        .home-content {
            width: 100%;
            display: flex;
            // justify-content: ;
            flex-direction: row-reverse;

            .pri-content {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                .my-skills {
                    align-self: center;
                    margin: 1rem;
                    
                    .skills-list {

                        p {
                        }
                        i {
                        }
                        .fa-html5 {
                        }
                        .fa-square-js {
                        }
                        .fa-css3 {
                        }
                        .fa-sass {
                        }
                    }
                }
            }
    
            .blog-section {
                max-width: 15vw;
                min-width: 270px;
                justify-self: flex-start;
                align-self: center;
    
                .blog-list {
                    ul {
                        li {
                            a {
                            }
                            p {
                            }
                        }
                    }
                }
            }
        }
    }
}
