.projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-text;

    .blog-intro {
        color: $primary-text;
    }

    .projects-articles {
        display: flex;
        flex-direction: column;

        .article-preview {
            min-height: 110px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            margin-top: 1rem;
            margin-bottom: 1rem;

            @include card-bg($border-color: $secondary-background, $border-radius: 15px, $background-gradient: $background-transparent-gradient);
            &:hover {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
                transform: translateY(-4px);
              }

              padding: 1rem;

            .post-preview-text {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-self: stretch;
                margin-left: 0.2rem;
                margin-right: 0.2rem;
            }
            p {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 0.75rem;
                color: $primary-text;
            }
            .ppt-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    margin-bottom: 0;
                    margin-top: 0;
                    font-size: 1.1rem;
                    color: $secondary-text;
                    display: inline;
                }
                .ppt-date {
                    font-size: 0.7rem;
                    margin-top: 0;
                    color: $secondary-text;
                }
            }

            img {
                width: 29%;
                height: auto;
                object-fit: contain;
                margin: 0.2rem;
            }
        }
    }
}

// blog homepage desktop view
@media screen and (min-width: 769px) {
    .projects-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $secondary-text;

        .blog-intro {
            max-width: 30%;
            color: $primary-text;
        }
        .projects-articles {
            max-width: 78%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    
            margin-top: 1.5rem;

            
    
            .article-preview {
                max-width: 45%;
    
                .post-preview-text {
                    h4 {
                        font-size: 1.6rem;
                    }
                    P {
                        font-size: 1.2rem;
                        margin-top: 1rem;
                    }
                }
    
                img {
                    max-width: 30%;
                    max-height: 173px ;
                }
            }
        }
    }
}