// Import the base styles
@import '../base/variables';
@import '../base/reset';

// Import the utility styles
@import '../utils/functions';


footer {
    background-color: $accent;

    // position: fixed;
    width: 100%;
    bottom: 0;

    .footer-items {
        padding-left: 1rem;
        padding-right: 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .footer-details {
            display: flex;
            p {
                font-size: .75rem;
                margin-top: .5rem;
                margin-bottom: .5rem;

                &:first-child { 
                    margin-right: 1rem;
                  }             
            }
        }
        
        
        .social-links {
            list-style: none;
            flex-direction: row;
            justify-content: space-between;
            
            margin-right: .4rem;

            i {
                color: $secondary-text;
            }

            a {
                text-decoration: none;
                margin-left: 1rem;
            }

            div {
                display: inline-flex;
                width: 1rem;
            }
        }
    }
}
