// Import the base styles
@import '../base/variables';
@import '../base/reset';

// Import the utility styles
@import '../utils/functions';


footer {
    background-color: $accent;

    // position: fixed;
    width: 100%;
    bottom: 0;

    .footer-items {
        padding-left: 1rem;
        padding-right: 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .footer-details {
            display: flex;
            p {
                font-size: .75rem;
                margin-top: .5rem;
                margin-bottom: .2rem;
                text-align: left;

                &:first-child { 
                    margin-right: .7rem;
                  }             
            }
        }
        
        
        .social-links {

            display: flex;
            align-items: center;
            margin-top: 10px;
            
            i {
                color: $secondary-text;
                font-size: 2.6rem;
            }
            a {
                text-decoration: none;
                margin-left: 1rem;
            }
            div {
                display: inline-flex;
                width: 1rem;
            }
        }

    }
    .copy {
        margin: 0;
        margin-left: 1rem;
        margin-bottom: .2rem;
        font-size: xx-small;
    }
}
