// Import base styles
@import 'base/_reset';
@import 'base/_typography';
@import 'base/_variables';

// Import component styles
@import 'components/_buttons';
@import 'components/_cards';
@import 'components/_forms';

// Import layout styles
@import 'layout/_header';
@import 'layout/_footer';
@import 'layout/_grid';

// Import page styles
@import 'pages/_home';
@import 'pages/_about';
@import 'pages/_projects';
@import 'pages/_blog';
@import 'pages/_contact';

// Import utility styles
@import 'utils/_mixins';
@import 'utils/_functions';


// The main stylesheet any styles it defines
// take precedence over other styles in the project.

body {
    background-color: $background;
    margin: 0;
    height: 2000px;
    color: $primary-text;
    font-family: monospace , sans-serif;

}

main {
    color: $primary-text;
    margin: 1rem;

    a {
        color: $link-color;
    }

    hr {
        background-color: $primary-text;
        border-color: $secondary-text;
    }
}


