// Import base styles
@import 'base/_reset';
@import 'base/_typography';
@import 'base/_variables';

// Import utility styles
@import 'utils/_mixins';
@import 'utils/_functions';

// Import component styles
@import 'components/_buttons';
@import 'components/_cards';
@import 'components/_forms';

// Import layout styles
@import 'layout/_header';
@import 'layout/_footer';
@import 'layout/_grid';

// Import page styles
@import 'pages/_home';
@import 'pages/_about';
@import 'pages/_projects';
@import 'pages/_blog';
@import 'pages/_contact';



// The main stylesheet any styles it defines
// take precedence over other styles in the project.

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // height: 2000px;

    background-color: $background;
    margin: 0;
    font-family: sans-serif;
}

main {
    flex: 1;

    color: $primary-text;
    padding: 1rem;

    background: url("#{$svg-path}") center center no-repeat;
    background-size: cover;

    a {
        color: $link-color;
    }

    hr {
        background-color: $primary-text;
        border-color: $secondary-text;
    }
}


